@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  /* font-size: 14px; */
  font-family: "PT Sans";
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/* ========================= */
/* SLIDER */
.catalog__body .slick-arrow {
  position: absolute;
  z-index: 5;
  font-size: 0;
  top: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.catalog__body .slick-arrow.slick-prev {
  left: 0;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  background: url("../img/catalog/button-left.svg") 0 0/100% no-repeat;
}

.catalog__body .slick-arrow.slick-next {
  right: 0;
  -webkit-transform: translate(30%, -50%);
          transform: translate(30%, -50%);
  background: url("../img/catalog/button-right.svg") 0 0/100% no-repeat;
}

.burger {
  width: 42px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger span,
.burger span::before,
.burger span::after {
  width: 100%;
  height: 4px;
  background: #333;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.burger span {
  position: relative;
}

.burger span::before {
  content: "";
  position: absolute;
  top: -10px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span.active {
  background: rgba(255, 255, 255, 0);
}

.burger span.active::before {
  content: "";
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burger span.active::after {
  content: "";
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* ---ОБЩИЕ КЛАССЫ---- */
.wraper {
  max-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.link {
  font-size: 18px;
  line-height: 155.55%;
  color: #43a047;
}

.tab-active a {
  font-weight: 700;
}

.button {
  font-weight: 700;
  font-size: 15px;
  line-height: 126.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 5px;
  background: #282e37;
  -webkit-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button:hover {
  top: 2px;
  -webkit-box-shadow: 4px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 2px 0px rgba(0, 0, 0, 0.25);
  background-color: #f67d62;
}

.button:active {
  top: 5px;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}

/* ---HEADER----------------------------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

@media (max-width: 992px) {
  .header {
    position: fixed;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color 225ms cubic-bezier(0.4, 0, 0.2, 1), border-color 225ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 225ms cubic-bezier(0.4, 0, 0.2, 1), border-color 225ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 93px;
  font-family: "Noto Serif";
}

.menu__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 138.888%;
  color: #f67d62;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .menu__list {
    display: none;
  }
}

.menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 137.5%;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.menu__link a {
  display: inline-block;
}

.menu__link a:hover {
  /* text-decoration: underline; */
  cursor: pointer;
  color: #f67d62;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__link:hover .menu__link-sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu__link:not(:last-child) {
  margin-right: 60px;
}

.menu__link:first-child span {
  background: url("../img/header/arrow-down.png") right no-repeat;
  padding-right: 27px;
}

@media (max-width: 992px) {
  .menu__link {
    min-height: 60px;
  }
}

.menu__link-sublist {
  padding: 10px 0 0 0;
  position: absolute;
  width: 100%;
  height: auto;
  display: none;
  left: 0px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__link-sublist > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30px;
          flex: 0 1 30px;
  padding: 5px 0px;
}

@media (max-width: 992px) {
  .menu {
    min-height: 60px;
  }
}

.menu__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.account__name {
  padding-right: 16px;
  position: relative;
  font-size: 14px;
  line-height: 128.57%;
  letter-spacing: 0.05em;
  color: #282e37;
}

.account__name:hover {
  color: #f67d62;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.account__name::before {
  content: "";
  position: absolute;
  right: 0;
  height: 15px;
  width: 1px;
  background-color: #282e37;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.account__basket {
  padding-left: 16px;
}

@media (max-width: 992px) {
  .account {
    display: none;
  }
}

.burger {
  display: none;
  height: 35px;
}

.burger__item {
  width: 42px;
  height: 4px;
  background-color: #000000;
}

.burger__item:not(:last-child) {
  margin-bottom: 4px;
}

@media (max-width: 992px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* ---SIDEBAR---- */
.sidebar__content {
  padding: 0 20px 20px 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-animation: sidebar 0.3s forwards;
          animation: sidebar 0.3s forwards;
}

@-webkit-keyframes sidebar {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes sidebar {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.sidebar__links {
  margin-top: 93px;
}

.sidebar__link {
  font-size: 24px;
  line-height: 130%;
  text-transform: capitalize;
  padding: 10px 0;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.user__profile {
  padding-right: 20px;
  position: relative;
  font-size: 14px;
  line-height: 128.57%;
  letter-spacing: 0.05em;
  color: #282e37;
  position: relative;
}

.user__profile::before {
  content: "";
  position: absolute;
  right: 0;
  height: 15px;
  width: 1px;
  background-color: #282e37;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

/* ---GARDEN-------------------------------------------------- */
.garden {
  position: relative;
  padding: 155px 0 95px 0;
}

@media (max-width: 992px) {
  .garden {
    padding: 95px 0 0 0;
  }
}

.garden__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .garden__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.garden__content {
  padding: 10% 8px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 560px;
          flex: 0 1 560px;
}

@media (max-width: 992px) {
  .garden__content {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 30px 0;
  }
}

.garden__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 48px;
  line-height: 135.4%;
  color: #282e37;
  margin: 0 0 18px 0;
}

@media (max-width: 767px) {
  .garden__title {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .garden__title {
    font-size: 28px;
  }
}

.garden__text {
  font-size: 18px;
  line-height: 127.7%;
  max-width: 465px;
  margin-bottom: 63px;
  color: #282e37;
}

.garden__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 56px;
  width: 223px;
  background: #f67d62;
  /* box-shadow: 0px 10px 25px rgba(246, 125, 98, 0.4); */
  border-radius: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 131.25%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  -webkit-animation: button 2s ease-in-out infinite;
          animation: button 2s ease-in-out infinite;
}

.garden__button:hover {
  -webkit-box-shadow: 0px 5px 15px #d6310c;
          box-shadow: 0px 5px 15px #d6310c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: none;
          animation: none;
}

.garden__button:active {
  top: 3px;
  -webkit-box-shadow: 0px 10px 25px #d6310c;
          box-shadow: 0px 10px 25px #d6310c;
}

.garden__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 800px;
          flex: 0 1 800px;
}

.garden__image img {
  width: 100%;
}

@media (max-width: 992px) {
  .garden__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@-webkit-keyframes button {
  0% {
    -webkit-box-shadow: #f67d62 0 0 0;
            box-shadow: #f67d62 0 0 0;
  }
  70% {
    -webkit-box-shadow: #f67d6200 0 0 0 10px;
            box-shadow: #f67d6200 0 0 0 10px;
  }
}

@keyframes button {
  0% {
    -webkit-box-shadow: #f67d62 0 0 0;
            box-shadow: #f67d62 0 0 0;
  }
  70% {
    -webkit-box-shadow: #f67d6200 0 0 0 10px;
            box-shadow: #f67d6200 0 0 0 10px;
  }
}

/* ---ACHIEVEMENTS-------------------------------------------------- */
.achievements {
  font-family: "Noto Serif";
  padding: 90px 0;
  background: rgba(246, 125, 98, 0.4);
  font-size: 36px;
  line-height: 122.22222%;
  color: #f67d62;
}

@media (max-width: 992px) {
  .achievements {
    padding: 50px 0;
  }
}

@media (max-width: 620px) {
  .achievements {
    padding: 45px 0;
    font-size: 33px;
  }
}

.achievements__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  position: relative;
}

.achievements__container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 220px;
  width: 1px;
  background-color: #f67d62;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@media (max-width: 620px) {
  .achievements__container::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 1px;
    width: 70%;
    background-color: #f67d62;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

@media (max-width: 620px) {
  .achievements__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 60px;
  }
}

.achievements__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.achievements__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url("../img/achievements/bg1.svg") center left no-repeat;
}

@media (max-width: 992px) {
  .achievements__item:first-child {
    background: none;
  }
}

@media (max-width: 620px) {
  .achievements__item:first-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.achievements__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../img/achievements/bg2.svg") center right no-repeat;
}

@media (max-width: 992px) {
  .achievements__item:last-child {
    background: none;
  }
}

@media (max-width: 620px) {
  .achievements__item:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.achievements__custommers {
  max-width: 228px;
  text-align: right;
}

.achievements__custommers span {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  line-height: 137.51%;
}

@media (max-width: 620px) {
  .achievements__custommers {
    text-align: center;
    max-width: none;
  }
}

.achievements__deliveries {
  max-width: 228px;
  text-align: left;
}

.achievements__deliveries span {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  line-height: 137.51%;
}

@media (max-width: 620px) {
  .achievements__deliveries {
    text-align: center;
    max-width: none;
  }
}

/* ---CATALOG-------------------------------------------------- */
.catalog {
  padding: 70px 0;
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 24px;
  line-height: 137.5%;
  text-align: center;
  text-transform: capitalize;
  color: #282e37;
  margin-bottom: 24px;
  background: url("../img/catalog/chevron-down.svg") right center no-repeat;
  padding-right: 26px;
}

.catalog__title span {
  color: #f67d62;
}

.catalog__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
}

@media (max-width: 768px) {
  .catalog__menu {
    display: none;
  }
}

.catalog__tab {
  font-weight: 400;
  font-size: 15px;
  line-height: 126.66%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #282e37;
  text-align: center;
  position: relative;
}

.catalog__tab:hover {
  /* text-decoration: underline; */
  color: #f67d62;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.catalog__tab:not(:last-child) {
  margin-right: 50px;
}

.catalog__tab:not(:last-child)::before {
  content: "•";
  position: absolute;
  right: -25px;
  top: 0%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.catalog__body {
  min-width: 0;
  position: relative;
  border: 1px solid #dbdcde;
  border-bottom: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 47px;
}

@media (max-width: 480px) {
  .catalog__body .slick-arrow {
    width: 50px;
    height: 50px;
  }
}

.catalog__item {
  display: block;
  border-right: 1px solid #dbdcde;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
  max-width: 300px;
  /* background-color: #fff; */
  max-height: 350px;
}

.catalog__item:nth-child(odd) {
  border-bottom: 1px solid #dbdcde;
}

@media (max-width: 1100px) {
  .catalog__item {
    max-width: none;
  }
}

.catalog__button {
  min-height: 60px;
  width: 242px;
}

.product {
  padding: 40px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 157px;
          flex: 0 1 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 38px;
  max-height: 157px;
}

.product__image img {
  max-width: 100%;
  max-height: 100%;
}

.product__description {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.product__text {
  font-size: 14px;
  line-height: 128.57%;
  color: #282e37;
  text-transform: capitalize;
}

.product__name {
  display: inline-block;
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 18px;
  line-height: 138.8%;
  color: #282e37;
  margin-bottom: 15px;
}

/*---DELIVERY----------  */
.delivery {
  padding: 81px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#e8f7fc), to(#e8f7fc));
  background: linear-gradient(0deg, #e8f7fc, #e8f7fc);
}

@media (max-width: 768px) {
  .delivery {
    padding: 50px 0;
  }
}

.delivery__container {
  padding: 54px 10px 21px;
  background-color: #fff;
}

.delivery__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 24px;
  line-height: 137.5%;
  text-transform: capitalize;
  text-align: center;
  color: #282e37;
  margin-bottom: 47px;
}

.delivery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 43px;
}

@media (max-width: 620px) {
  .delivery__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
}

.delivery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__item > *:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: 620px) {
  .delivery__item > *:not(:last-child) {
    margin-bottom: 15px;
  }
}

.delivery__picture {
  max-height: 150px;
}

.delivery__picture img {
  max-width: 100%;
  height: 100%;
}

.delivery__method {
  font-weight: 700;
  font-size: 18px;
  line-height: 127.777%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #282e37;
}

.delivery__text {
  font-size: 14px;
  line-height: 128.571%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #282e37;
}

.delivery__text > {
  margin-bottom: 3px;
}

.delivery__price {
  font-size: 18px;
  line-height: 127.777%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #282e37;
}

.delivery__price::first-letter {
  font-size: 18px;
  line-height: 128.571%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.delivery__price span {
  font-weight: 700;
  font-size: 48px;
  line-height: 129.166%;
  text-transform: capitalize;
  color: #282e37;
}

.delivery__footer {
  font-size: 12px;
  line-height: 133.33%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #53585f;
}

/* ---BANNer------------ */
.banner {
  padding: 140px 0 100px 0;
}

@media (max-width: 767px) {
  .banner {
    padding: 50px 0 70px 0;
  }
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner__content {
  font-family: "Noto Serif";
  max-width: 735px;
  font-weight: 700;
  font-size: 36px;
  line-height: 136.111%;
  color: #282e37;
  position: relative;
  min-height: 160px;
}

.banner__content:before {
  content: "";
  position: absolute;
  bottom: -36px;
  left: 50%;
  width: 90%;
  max-width: 623px;
  height: 2px;
  background-color: #282e37;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .banner__content {
    font-size: 34px;
  }
}

@media (max-width: 480px) {
  .banner__content {
    font-size: 28px;
  }
}

/* ---footer----------- */
.footer {
  padding: 80px 0 30px 0;
  background: url("../img/footer/decor.svg") bottom/100% no-repeat, #f5fdf7;
}

@media (max-width: 767px) {
  .footer {
    padding: 50px 0 30px 0;
  }
}

.footer__container {
  padding: 0 120px;
  max-width: 1200px;
  margin: 0 auto;
  background: url("../img/footer/bg.png") bottom right no-repeat;
}

@media (max-width: 720px) {
  .footer__container {
    padding: 0 20px;
    background: none;
  }
}

.footer__title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 24px;
  line-height: 162.5%;
  color: #282e37;
}

@media (max-width: 1200px) {
  .footer__title {
    text-align: center;
  }
}

.footer__text {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 18px;
  line-height: 161.11%;
  color: #282e37;
  margin-bottom: 52px;
}

@media (max-width: 1200px) {
  .footer__text {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer__text {
    margin-bottom: 40px;
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
}

@media (max-width: 1200px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 720px) {
  .footer__body {
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .footer__body {
    margin-bottom: 50px;
  }
}

.footer__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 665px;
          flex: 0 1 665px;
}

@media (max-width: 1200px) {
  .footer__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 225px;
          flex: 0 1 225px;
}

@media (max-width: 1200px) {
  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 620px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
  }
}

.footer__social-media {
  max-width: 215px;
}

.form__link {
  margin-bottom: 22px;
}

.form__link span {
  background: url("../img/footer/mail.png") right center no-repeat;
  padding-right: 23px;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 25px;
}

.form__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
  border: 1px solid black;
  min-height: 50px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 157.142%;
  color: #282e37;
}

@media (max-width: 1200px) {
  .form__input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 310px;
            flex: 1 1 310px;
  }
}

.form__message {
  width: 100%;
  border: 1px solid black;
  padding: 20px;
  font-size: 14px;
  line-height: 157.142%;
  color: #282e37;
  margin-bottom: 33px;
  max-height: 100px;
  resize: none;
  overflow: auto;
}

.form__submit {
  margin-bottom: 16px;
}

.form__checkbox {
  font-size: 14px;
  line-height: 157.14%;
  color: #53585f;
  margin-bottom: 16px;
}

.form__button {
  min-height: 50px;
  width: 170px;
}

.contacts__cals {
  margin-bottom: 80px;
}

@media (max-width: 620px) {
  .contacts__cals {
    margin-bottom: 20px;
  }
}

.contacts__link {
  background: url("../img/footer/phone-call.png") right center no-repeat;
  padding-right: 23px;
  display: inline-block;
  margin-bottom: 18px;
}

@media (max-width: 620px) {
  .contacts__link {
    margin-bottom: 0;
  }
}

.contacts__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__contact > *:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .contacts__contact {
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

.adress__link {
  background: url("../img/footer/map.png") right center no-repeat;
  padding-right: 23px;
  margin-bottom: 18px;
  display: inline-block;
}

@media (max-width: 620px) {
  .adress__link {
    margin-bottom: 0px;
  }
}

.adress__text {
  font-size: 14px;
  line-height: 192.85%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #282e37;
  max-width: 135px;
}

@media (max-width: 620px) {
  .adress__text {
    max-width: none;
  }
}

.social-media__label {
  font-size: 18px;
  line-height: 140%;
  color: #809d88;
  margin-bottom: 30px;
}

.social-media__label span {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 18px;
  line-height: 138.888%;
  color: #809d88;
}

.social-media__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.social-media__copyright {
  font-size: 14px;
  line-height: 128.57%;
  color: #809d88;
}
