/* --- ОБНУЛЕНИЕ----------------------------- */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    /* font-size: 14px; */
    font-family: "PT Sans";
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    color: inherit;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* --------------------------------------------------------- */

/* ===ОБЩИЕ КЛАССЫ========================================== */

.wraper {
    max-height: 100%;
    /* overflow: hidden; */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}


/* ПЕРЕНЕСТИ КЛАССЫ LINK and TAB */
.link {
    font-size: 18px;
    line-height: 155.55%;
    color: #43A047;
}

.tab-active a {
    font-weight: 700;
}

/* --------------------------------------------------- */

.button {
    font-weight: 700;
    font-size: 15px;
    line-height: 126.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;

    padding: 5px;
    background: #282E37;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.button:hover {
    top: 3px;
    box-shadow: 4px 3px 0px rgba(0, 0, 0, 0.25);
}

.button:active {
    top: 5px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}


/* --------------------------------------------------- */

.x-mark {
    transform: translate(0px, 11px) rotate(45deg);
}

.x-mark2 {
    transform: translate(0px, 5px) rotate(-45deg);
}
/* ========================================================== */


/* ---SIDEBAR------------------------------------------------ */

.sidebar__content {
    transform: translateX(-150%);
    animation: ani 1s forwards;
}

@keyframes ani {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

/* .sidebar__label {
    font-weight: 700;
    font-size: 18px;
    line-height: 138.888%;
    color: #f67d62;
    min-height: 93px;
    display: flex;
    align-items: center;
} */

.sidebar__content {
    padding: 0 20px 20px 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);

    transform: translateX(-150%);
    animation: sidebar 0.3s forwards;
}

@keyframes sidebar {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateY(0);
    }
}

.sidebar__links {
    margin-top: 40px;
    margin-top: 93px;
}

.sidebar__link {
    font-size: 24px;
    line-height: 130%;
    text-transform: capitalize;
    padding: 10px 0;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 30px;
}


.user__profile {
    padding-right: 20px;
    position: relative;
    font-size: 14px;
    line-height: 128.57%;
    letter-spacing: 0.05em;
    color: #282e37;
    position: relative;
}

.user__profile::before {
    content: "";
    position: absolute;
    right: 0;
    height: 15px;
    width: 1px;
    background-color: #282e37;
    transform: translate(50%, 0);
}

/* ---HEADER------------------------------------------------ */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 93px;
    font-family: "Noto Serif";
}

.menu__label {
    font-weight: 700;
    font-size: 18px;
    line-height: 138.888%;
    color: #f67d62;
}

.menu__list {
    display: flex;
}

.menu__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 137.5%;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.menu__link a {
    display: inline-block;
}

.menu__link a:hover, .account__name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menu__link:not(:last-child) {
    margin-right: 60px;
}

.menu__link:first-child span {
    background: url("../img/header/arrow-down.png") right no-repeat;
    padding-right: 27px;
}

.menu__link-sublist {
    padding: 10px 0 0 0;
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
    left: 0px;
    /* background-color: gray; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__link:hover .menu__link-sublist {
    /* display: block;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.menu__link-sublist>li {
    flex: 0 1 30px;
    padding: 5px 0px;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.account__name {
    padding-right: 16px;
    position: relative;
    font-size: 14px;
    line-height: 128.57%;
    letter-spacing: 0.05em;
    color: #282e37;
}

.account__name::before {
    content: "";
    position: absolute;
    right: 0;
    height: 15px;
    width: 1px;
    background-color: #282e37;
    transform: translate(50%, 0);
}

.account__basket {
    padding-left: 16px;
}

.burger {
    display: none;
    height: 35px;
}

.burget__item {
    width: 42px;
    height: 4px;
    background-color: #000000;
}

.burget__item:not(:last-child) {
    margin-bottom: 4px;
}

@media (max-width: 992px) {
    .header {
        position: fixed;
        z-index: 100;

        background-color: hsla(0, 0%, 100%, .9);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        transition: background-color 225ms cubic-bezier(.4, 0, .2, 1), border-color 225ms cubic-bezier(.4, 0, .2, 1);
    }

    .menu {
        min-height: 60px;
    }

    .menu__list {
        display: none;
    }

    .account {
        display: none;
    }

    .burger {
        display: inline-block;
    }
}





/* ---GARDEN------------------------------------------------ */

.garden {
    position: relative;
    padding: 155px 0 95px 0;
}

.garden__container {
    display: flex;
}

.garden__content {
    padding: 10% 8px 0 0;
    flex: 0 1 560px;
}

.garden__title {
    font-family: "Noto Serif";
    font-weight: 700;
    font-size: 48px;
    line-height: 135.4%;
    color: #282e37;
    margin: 0 0 18px 0;
}

.garden__text {
    font-size: 18px;
    line-height: 127.7%;
    max-width: 465px;
    margin-bottom: 63px;
    color: #282e37;
}

.garden__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    width: 223px;
    background: #f67d62;
    box-shadow: 0px 10px 25px rgba(246, 125, 98, 0.4);
    border-radius: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 131.25%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    position: relative;
}

.garden__button:hover {
    /* background: #fff;
    color: #f67d62; */
    box-shadow: 0px 5px 15px rgba(214, 49, 12, 1);
    transition: 0.3s;
}

.garden__button:active {
    top: 3px;
    box-shadow: 0px 10px 25px rgba(214, 49, 12, 1);
}

.garden__image {
    flex: 0 1 800px;
}

.garden__image img {
    width: 100%;
}

@media (max-width: 992px) {
    .garden {
        padding: 95px 0 0 0;
    }
    .garden__container {
        flex-direction: column;
        /* row-gap: 30px; */
    }

    .garden__content {
        padding: 0;
        flex: 0 1 auto;
        padding: 30px 0;
    }

    .garden__image {
        flex: 0 1 auto;
    }
}

@media (max-width: 768px) {
    .garden__title {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .garden__title {
        font-size: 28px;
    }
}

/* ---ACHIEVEMENTS----------------------------------------- */

.achievements {
    font-family: "Noto Serif";
    padding: 90px 0;
    background: rgba(246, 125, 98, 0.4);
    font-size: 36px;
    /* line-height: 185.26%; */
    line-height: 122.22222%;

    /* line-height: 44px; */
    color: #f67d62;
}

.achievements__container {
    display: flex;
    column-gap: 120px;
    position: relative;
}

.achievements__container::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 220px;
    width: 1px;
    background-color: #f67d62;
    transform: translate(50%, -50%);
}

.achievements__item {
    flex: 1 1 50%;
}

.achievements__item:first-child {
    display: flex;
    justify-content: flex-end;
    background: url("../img/achievements/bg1.svg") center left no-repeat;
}

.achievements__item:last-child {
    display: flex;
    justify-content: flex-start;
    background: url("../img/achievements/bg2.svg") center right no-repeat;
}

.achievements__custommers>span,
.achievements__deliveries>span {
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    /* line-height: 88px; */
    line-height: 137.51%;
}

.achievements__custommers {
    max-width: 228px;
    text-align: right;
}

.achievements__deliveries {
    max-width: 228px;
    text-align: left;
}

@media (max-width: 992px) {
    .achievements {
        padding: 50px 0;
    }

    .achievements__item:first-child,
    .achievements__item:last-child {
        background: none;
    }
}

@media (max-width: 620px) {
    .achievements {
        padding: 45px 0;
        font-size: 33px;
    }

    .achievements__container {
        flex-direction: column;
        row-gap: 60px;
    }

    .achievements__container::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        height: 1px;
        width: 70%;
        background-color: #f67d62;
        transform: translate(-50%, 50%);
    }

    .achievements__custommers,
    .achievements__deliveries {
        text-align: center;
        max-width: none;
    }

    .achievements__item:first-child,
    .achievements__item:last-child {
        justify-content: center;
    }
}

/* ---CATALOG----------------------------------------- */

.catalog {
    padding: 70px 0;
}

.catalog__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog__title {
    font-family: "Noto Serif";
    font-weight: 700;
    font-size: 24px;
    line-height: 137.5%;
    text-align: center;
    text-transform: capitalize;
    color: #282E37;
    margin-bottom: 24px;
    background: url("../img/catalog/chevron-down.svg") right center no-repeat;
    padding-right: 26px;
}

.catalog__title span {
    color: #F67D62;
}

.catalog__menu {
    display: flex;
    margin-bottom: 23px;
}

.catalog__tab {
    font-weight: 400;
    font-size: 15px;
    line-height: 126.66%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #282E37;
    text-align: center;
    position: relative;
}

.catalog__tab:hover {
    text-decoration: underline;
}

.catalog__tab:not(:last-child) {
    margin-right: 50px;
}

.catalog__tab:not(:last-child)::before {
    content: "•";
    position: absolute;
    right: -25px;
    top: 0%;
    transform: translate(50%, 0);
}

.catalog__button {
    min-height: 60px;
    width: 242px;
}

.catalog__body {
    /* display: flex;
    flex-wrap: wrap; */
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0;
    justify-items: center;
    margin-bottom: 47px;
}

.catalog__item {
    border: 1px solid #DBDCDE;
    flex: 0 1 auto;
    width: 100%;
    max-width: 300px;
}

.product {
    padding: 40px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__image {
    flex: 1 1 157px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 38px;
}

.product__image img {
    max-width: 100%;
}
.product__description {
    align-self: flex-start;
}

.product__text {
    font-size: 14px;
    line-height: 128.57%;
    color: #282E37;
    text-transform: capitalize;
}

.product__name {
    display: inline-block;
    font-family: "Noto Serif";
    font-weight: 700;
    font-size: 18px;
    line-height: 138.8%;
    color: #282E37;
    margin-bottom: 15px;
}


@media (max-width: 768px) {
    .catalog__menu {
        display: none;
    }
}


/* ---DELIVERY----------------------------------------- */

.delivery {
    padding: 81px 0;
    background: linear-gradient(0deg, #E8F7FC, #E8F7FC);
    
}

.delivery__container {
    padding: 54px 10px 21px;
    background-color: #fff;
}

.delivery__title {
    font-family: "Noto Serif";
    font-weight: 700;
    font-size: 24px;
    line-height: 137.5%;
    text-transform: capitalize;
    text-align: center;
    color: #282e37;
    margin-bottom: 47px;
}

.delivery__body {
    display: flex;
    margin-bottom: 35px;
}

.delivery__item {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delivery__item>*:not(:last-child) {
    margin-bottom: 50px;
}

.delivery__picture {
    max-height: 150px;
}

.delivery__picture img {
    max-width: 100%;
    height: 100%;
}

.delivery__method {
    font-weight: 700;
    font-size: 18px;
    line-height: 127.777%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #282e37;
}

.delivery__text {
    font-size: 14px;
    line-height: 128.571%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #282e37;
}

.delivery__text>p {
    margin-bottom: 3px;
}

.delivery__price {
    font-size: 18px;
    line-height: 127.777%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #282e37;
}

.delivery__price::first-letter {
    font-size: 18px;
    line-height: 128.571%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.delivery__price span {
    font-weight: 700;
    font-size: 48px;
    line-height: 129.166%;
    text-transform: capitalize;
    color: #282e37;
}

.delivery__footer {
    font-size: 12px;
    line-height: 133.33%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #53585f;
}

@media (max-width: 768px) {
    .delivery {
        padding: 50px 0;
    }
}

@media (max-width: 620px) {
    .delivery__body {
        flex-direction: column;
        row-gap: 50px;
    }

    .delivery__item>*:not(:last-child) {
        margin-bottom: 15px;
    }
}

/* ---BANNER------------------------------------------- */

.banner {
    padding: 140px 0 100px 0;
}

.banner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner__content {
    max-width: 735px;
    font-family: "Noto Serif";
    font-weight: 700;
    font-size: 36px;
    line-height: 136.111%;
    color: #282e37;
    position: relative;
    min-height: 160px;
}

.banner__content::before {
    content: "";
    position: absolute;
    bottom: -36px;
    left: 50%;
    width: 90%;
    max-width: 623px;
    height: 2px;
    background-color: #282e37;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .banner {
        padding: 50px 0 70px 0;
    }

    .banner__content {
        font-size: 34px;
    }
}

@media (max-width: 480px) {
    /* .banner {
        padding: 80px 0;
    } */

    .banner__content {
        font-size: 28px;
    }
}

/* ---FOOTER--------------------------------------------------- */
.footer {
    /* background: #F5FDF7; */
    padding: 80px 0 30px 0;
    background: url("../img/footer/decor.svg") bottom/100% no-repeat, #F5FDF7;
}

.footer__container {
    padding: 0 120px;
    max-width: 1200px;
    margin: 0 auto;
    background: url("../img/footer/bg.png") bottom right no-repeat;
}

/* .footer__form > label {
    display: block;
} */

.footer__title {
    font-family: "Noto Serif";
    font-weight: 700;
    font-size: 24px;
    line-height: 162.5%;
    color: #282E37;
}

.footer__text {
    font-family: "Noto Serif";
    font-weight: 700;
    font-size: 18px;
    line-height: 161.11%;
    color: #282E37;
    margin-bottom: 52px;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.footer__form {
    flex: 0 1 665px;
}

.form__link {
    margin-bottom: 22px;
}

.form__link span {
    background: url("../img/footer/mail.png") right center no-repeat;
    padding-right: 23px;
}

.form__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 25px;
}

.form__input {
    flex: 0 1 320px;
    border: 1px solid black;
    min-height: 50px;
    padding: 0 20px;

    font-size: 14px;
    line-height: 157.142%;
    color: #282E37;
}

.form__message {
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    font-size: 14px;
    line-height: 157.142%;
    color: #282E37;
    margin-bottom: 33px;
    max-height: 100px;
    resize: none;
    overflow: auto;
}

.form__submit {
    margin-bottom: 16px;
}

.form__checkbox {
    font-size: 14px;
    line-height: 157.14%;
    color: #53585F;
    margin-bottom: 16px;
}

.form__button {
    min-height: 50px;
    width: 170px;
}

.contacts__link {
    background: url("../img/footer/phone-call.png") right center no-repeat;
    padding-right: 23px;
}

.footer__contacts {
    flex: 0 1 225px;
}

.contacts__cals {
    margin-bottom: 80px;
}

.contacts__link {
    display: inline-block;
    margin-bottom: 18px;
}

.contacts__contact {
    display: flex;
    justify-content: space-between;
}

.contacts__contact>*:not(:last-child) {
    margin-bottom: 10px;
}

.adress__link {
    background: url("../img/footer/map.png") right center no-repeat;
    padding-right: 23px;
    margin-bottom: 18px;
    display: inline-block;
}

.adress__text {
    font-size: 14px;
    line-height: 192.85%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #282E37;
    max-width: 135px;
}


.footer__social-media {
    max-width: 215px;
}

.social-media__label {
    font-size: 18px;
    line-height: 140%;
    color: #809D88;
    margin-bottom: 30px;
}

.social-media__label span {
    font-family: "Noto Serif";
    font-weight: 700;
    font-size: 18px;
    line-height: 138.888%;
    color: #809D88;
}

.social-media__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.social-media__copyright {
    font-size: 14px;
    line-height: 128.57%;
    color: #809D88;
}

@media (max-width: 1200px) {

    .footer__title, .footer__text {
        text-align: center;
    }

    .footer__form {
        flex: 0 1 auto;
    }

    .footer__body {
        flex-direction: column-reverse;
    }

    .footer__contacts {
        flex: 0 1 auto;
        display: flex;
        justify-content: space-between;
    }

    .form__input {
        flex: 1 1 310px;
    }

    .contacts__contact {
        column-gap: 30px;
    }

}

/* @media (max-width: 768px) {
    .footer__container {
        padding: 0 20px;
        background: none;
    }
} */
@media (max-width: 768px) {
    .footer {
        padding: 50px 0 30px 0;
    }

    .footer__text {
        margin-bottom: 40px;
    }
}

@media (max-width: 720px) {
    .footer__container {
        padding: 0 20px;
        background: none;
    }

    .footer__body {
        margin-bottom: 100px;
    }
}

@media (max-width: 620px) {

    .footer__contacts {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .contacts__cals {
        margin-bottom: 20px;
    }

    .adress__text {
        max-width: none;
    }

    .adress__link, .contacts__link {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .footer__body {
        margin-bottom: 50px;
    }
}